{% if weather %}
<div class="weather-info" id="weather">
    <div class="weather-info__block weather-info__block--green">
        <span class="weather-info__block__name">Temperature</span>
        <span class="weather-info__block__measurement">{{ weather.temp }} °C</span>
    </div>
    <div class="weather-info__block weather-info__block--yellow">
        <span class="weather-info__block__name">Pressure</span>
        <span class="weather-info__block__measurement">{{ weather.pressure }} hpa</span>
    </div>
    <div class="weather-info__block weather-info__block--pink">
        <span class="weather-info__block__name">Clouds</span>
        <span class="weather-info__block__measurement">{{ weather.clouds }}%</span>
    </div>
    <div class="weather-info__block weather-info__block--blue">
        <span class="weather-info__block__name">Wind</span>
        <span class="weather-info__block__measurement">{{ weather.wind }} m/h</span>
    </div>
    <div class="weather-info__block weather-info__block--red">
        <span class="weather-info__block__name">Humidity</span>
        <span class="weather-info__block__measurement">{{ weather.humidity }}%</span>
    </div>
</div>
{% endif %}
