.city-temperature-geo-block__city-name {
  font-size: 30pt;
  font-weight: 500;
}

.city-temperature-geo-block__temperature {
  font-size: 80pt;
  font-weight: 500;
}

.city-temperature-geo-block__icon {
  height: 150px;
  width: 150px;
}
