.city-temperature-mini-block__city-name {
  font-size: 28px;
  font-weight: 500;
  text-transform: uppercase;
  color: #1f1f1f;
}

.city-temperature-mini-block__temperature {
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 1px;
}
